<!DOCTYPE html>
<head>
	<%- include('../partials/head'); %>
</head>

<p class="title">AdViz</p>
<div id="main" class="tab-content">

<div id="login" class="tab-content">
	<div class="main_page">
		<div class="loginContainer">
			<div class="subContainer">
				<!-- SOME COMMENT...
				<% if (messages.error) { %>
					<%= messages.error %>
				<% } %>
				 -->
				<form id="login" action="/" method="POST"> 
					<div class="username"> <input type="text" placeholder="username" id="username" required> </div>
					<div class="password"> <input type="password" placeholder="password" id="password" required> </div>
					<button type="submit" onclick="validateLogin()" class="lhref" href="/">login</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>